@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";


@theme {
  --font-helvetica: "Helvetica", "Arial", sans-serif;
  --font-instrument: "Instrument Serif", serif;
  --font-sans:serif, sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    min-height: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .avatarContainer {
    display: none;
  }

  .heroLayout {
    flex-direction: column;
    width: 100%;
  }

  .heroTextColumn {
    width: 100%;
  }
}
